* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

header {
  display: flex;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  padding: 10px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  margin: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: darkturquoise;
  padding: 20px;
  flex: 1;
  color: white;
}
