<app-header></app-header>
<h2>Pipe | Camel Case</h2>
<p *ngFor="let nome of nomes">{{ nome | captalizePhilips }}</p>
<hr />
<app-tasks></app-tasks>
<app-modal
  ><p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure magni facilis
    dolorum animi ipsum velit. Aperiam eveniet perspiciatis, adipisci possimus
    inventore repudiandae id sunt alias illo reiciendis earum nobis ad?
  </p></app-modal
>
<app-card-ng-content>
  <h5 class="card-header">Título do card</h5>
  <h5 class="card-title">Descrição do card</h5>
  <p class="card-text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, quisquam
    voluptas. Sit eum libero illum ad veritatis laboriosam est alias nobis non,
    magni dicta, ducimus, excepturi at maxime quod ab.
  </p>
</app-card-ng-content>
<app-validator></app-validator>
<app-cards></app-cards>
